<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>ToDo List</title>

</head>
<body>
    <h1>ToDo List</h1>
    <table>
        <thead>
            <tr>
                <th>Task</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task_id in range(tasks|length) %}
                <tr>
                    <td>{{ tasks[task_id] }}</td>
                    <td class="actions">
                        <a href="/edit/{{ task_id }}"><i class="fas fa-edit"></i>Edit</a>
                        <a href="/delete/{{ task_id }}"><i class="fas fa-trash-alt"></i>Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="/add" method="post">
        <input type="text" name="task" required>
        <button type="submit">Add Task</button>
    </form>
</body>
</html>
